#dashboard_big_menu {
  @include media-small {
    justify-content: space-evenly;
  }

  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  transition: .4s max-height, .4s padding, .4s border-bottom-width;

  // border-top: 2px solid $black-raisin;
  // border-bottom: 2px solid $black-raisin;

  background-color: $big-menu-color-light;
  background-image: $url-linen;

  padding: .8vw 0;

  max-height: 20rem;

  overflow: hidden;
  list-style: none;
  background-blend-mode: color-burn;

  &.closed {
    border-bottom-width: 0;
    padding: 0;
    max-height: 0;
  }

  #dashboard_big_menu_close_button {
    @include media-small {
      width: 2rem;
      height: 2rem;

      font-size: 1.4rem;
    }

    display: flex;
    position: absolute;
    top: 0;
    right: 0;

    align-items: center;
    justify-content: center;

    transition: .2s opacity, .2s text-shadow;
    z-index: 2;
    cursor: pointer;

    width: 4rem;
    height: 4rem;

    color: $white-snow;
    font-size: 2rem;

    &:hover {
      opacity: .8;
      text-shadow: $shadow-0;
    }
  }

  li {
    @include fp(width, 4.25rem, 12rem);
    @include fp(height, 4.25rem, 12rem);

    position: relative;
    transition: .3s box-shadow;

    margin: .6vw;

    background-color: $white-snow;

    cursor: pointer;

    .big-menu-symbol {
      @include fp(font-size, 2.8rem, 5rem);

      display: flex;

      align-items: center;
      justify-content: center;

      transition: .3s text-shadow;

      width: 100%;
      height: 100%;

      color: $big-menu-color-light;
    }

    .big-menu-name {
      @include fp(font-size, .6rem, 1.8rem);
      @include fp(bottom, 0, .8rem);

      position: absolute;

      transition: .3s text-shadow;

      width: 100%;

      text-align: center;

      color: $big-menu-color-light;
      font-family: Roboto;
      font-weight: 900;
      font-variant: small-caps;

      pointer-events: none;
    }

    &:hover {
      box-shadow: $shadow-s;

      .big-menu-btn-background {
        font-size: 15vw;
        filter: blur(15px);
      }

      .big-menu-symbol {
        text-shadow: $shadow-s-0;
      }

      .big-menu-name {
        text-shadow: $shadow-s-0;
      }
    }
  }
}
