#dashboard_big_menu {
  @include media-small {
    justify-content: space-evenly;
  }

  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  transition: .4s max-height, .4s padding;

  background-color: $big-menu-color-light;
  background-image: $url-linen;

  padding: .8vw 0;

  max-height: 20rem;

  overflow: hidden;
  list-style: none;
  background-blend-mode: color-burn;

  &.closed {
    padding: 0;
    max-height: 0;
  }

  #dashboard_big_menu_close_button {
    @include media-small {
      width: 2rem;
      height: 2rem;

      font-size: 1.4rem;
    }

    display: flex;
    position: absolute;
    top: 0;
    right: 0;

    align-items: center;
    justify-content: center;

    transition: .2s opacity, .2s text-shadow;
    z-index: 2;
    cursor: pointer;

    width: 4rem;
    height: 4rem;

    color: $white-snow;
    font-size: 2rem;

    &:hover {
      opacity: .8;
      text-shadow: $shadow-0;
    }
  }

  li {
    @include fp(width, 4.25rem, 12rem);
    @include fp(height, 4.25rem, 12rem);

    position: relative;
    transition: .3s box-shadow;

    margin: .8vw;

    background-color: $white-snow-d;

    cursor: pointer;

    overflow: hidden;

    box-sizing: border-box;

    .big-menu-btn-background {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;

      align-items: center;
      justify-content: center;

      transition: .3s font-size, .3s filter;
      opacity: .8;

      background-color: rgba($color: $big-menu-color, $alpha: .2);
      background-image: $url-linen;

      padding: 0 0 1vw;

      width: 100%;
      height: 100%;

      color: $big-menu-color-light;
      font-size: 13vw;

      box-sizing: border-box;

      filter: blur(5px);
    }

    .big-menu-btn-overlay {
      position: absolute;
      top: 0;
      left: 0;

      box-shadow: 0 0 4vw 3vw rgba($color: $white-snow-d, $alpha: .2) inset;

      background-color: rgba($color: $big-menu-color-light, $alpha: .4);

      width: 100%;
      height: 100%;

      box-sizing: border-box;

      .big-menu-overlay-symbol {
        @include fp(font-size, 2.8rem, 5rem);

        display: flex;

        align-items: center;
        justify-content: center;

        transition: .3s text-shadow;

        width: 100%;
        height: 100%;

        text-shadow: $shadow-s;

        color: #fff;
      }

      .big-menu-overlay-name {
        @include fp(font-size, .6rem, 1.8rem);
        @include fp(bottom, 0, .8rem);

        position: absolute;

        transition: .3s text-shadow;

        width: 100%;

        text-align: center;

        text-shadow: $shadow-0;

        color: #fff;
        font-family: Roboto;
        font-weight: 900;
        font-variant: small-caps;

        pointer-events: none;
      }
    }

    &:hover {
      // box-shadow: $shadow-s-0;

      .big-menu-btn-background {
        font-size: 15vw;
        filter: blur(15px);
      }

      .big-menu-overlay-symbol {
        text-shadow: $shadow-s-0;
      }

      .big-menu-overlay-name {
        text-shadow: $shadow-s-0;
      }
    }
  }
}
