#exchange_chart_wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  transition: $main-side-menu-transition-time left;

  background-color: $gray-very-light;
  background-image: $url-stripes;

  height: calc(#{'100vh - ' + $main-header-height-collaped});

  // border: 5px solid #f00;
  // box-sizing: border-box;

  background-blend-mode: color-dodge;

  &.open-main-side-menu {
    left: $main-side-menu-size;
  }

  &.pin-main-side-menu {
    left: $main-side-menu-size-expanded;
  }

  &.collapse-main-header {
    #exchange-chart {
      height: 100% !important;
    }
  }

  #exchange-chart {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: calc(#{'100% - ' + $main-header-height + ' + ' + $main-header-height-collaped}) !important;
  }
}
