#exchange_chart_wrapper {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;

  // transition: $main-side-menu-transition-time left, $main-header-collapse-duration height;

  height: calc(#{'100vh - ' + $main-header-height + ' - 2rem'});

  // border: 5px solid #f00;
  // box-sizing: border-box;

  &.open-main-side-menu {
    left: $main-side-menu-size + 1rem;
  }

  &.pin-main-side-menu {
    left: $main-side-menu-size-expanded + 1rem;
  }

  &.collapse-main-header {
    height: calc(#{'100vh - ' + $main-header-height-collaped + ' - 2rem'});
  }
}
