#exchange-search-input-wrapper {
  position: absolute;
  top: 5rem;
  left: 5rem;

  z-index: 1;

  // border: 2px $black-raisin solid;

  background-color: rgba($color: #fff, $alpha: .5);

  padding: 2rem;

  #exchange-search-input-label {
    padding: 0 1rem;

    color: $black-raisin;
    font-size: 5rem;
    font-weight: 200;
    font-variant: small-caps;
  }
}
