#exchange-search-input-wrapper {
  position: absolute;
  top: 5rem;
  left: 5rem;

  border: 2px $black-raisin solid;
  // border-radius: 3px;

  // box-shadow: $shadow-0;

  background-color: #fff;

  padding: 2rem;

  #exchange-search-input-label {
    padding: 0 1rem;

    color: $black-raisin;
    font-size: 5rem;
    font-weight: 200;
    font-variant: small-caps;
  }
}
