#exchange-search-input-wrapper {
  position: absolute;
  top: 5rem;
  left: 5rem;

  z-index: 1;

  border: 1px #fff solid;

  background-color: rgba($color: $white-snow, $alpha: .5);

  padding: 2rem;

  &.no-pointer-events {
    pointer-events: none;
  }

  #exchange-search-input-label {
    padding: 0 1rem;

    color: #fff;
    font-size: 5rem;
    font-weight: 300;
    font-variant: small-caps;
  }
}
