#landing_bottom_info {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: .5;

  z-index: 3;

  $lbi-padding: .3rem;
  padding: $lbi-padding calc(#{$lbi-padding} + 1.5rem);

  color: $black-raisin;
  font-family: Love Ya Like A Sister;
  font-size: 1.1rem;
  font-variant: small-caps;

  #landing_bottom_info_left {
    float: left;
  }

  #landing_bottom_info_right {
    float: right;
  }
}
