#request_fullscreen_btn {
  display: flex;
  position: fixed;
  top: $main-header-height-collaped / 4;
  right: $main-header-height-collaped / 4;

  align-items: center;
  justify-content: center;

  transition: .2s opacity, .2s font-size;
  z-index: 100;

  cursor: pointer;

  width: 2.2rem;
  height: 2.2rem;

  color: $main-header-button-color;
  font-size: 2rem;

  &:hover {
    opacity: .8;
    font-size: 1.4rem;
  }
}

#bottom_info {
  @include fp(font-size, .8rem, .9rem);

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  transition: .2s opacity, .2s color;
  opacity: .6;

  z-index: 7;

  $lbi-padding: .3rem;
  padding: $lbi-padding calc(#{$lbi-padding} + .5rem);

  color: #666;
  font-family: Roboto;
  font-weight: 300;
  font-variant: small-caps;

  #bottom_info_left {
    float: left;
  }

  #bottom_info_right {
    float: right;
  }

  &:hover {
    opacity: .8;
    color: rgba($color: #666, $alpha: 1);
  }
}
