@import '/fontawesome/fa-regular';
@import '/fontawesome/fa-solid';
@import '/fontawesome/fontawesome';

@font-face {
  font-family: Impact;
  src: url('/res/fonts/impact.ttf');
}

@font-face {
  font-family: Love Ya Like A Sister;
  src: url('/res/fonts/LoveYaLikeASister.ttf');
}
