#home_wrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url('/res/textures/dark-stripes-light.png');

  #home_test {
    font-size: 6rem;
    color: $black-raisin;
  }

  a {
    display: inline-block;

    font-family: Love Ya Like A Sister;
    font-size: 3rem;
    color: #222;

    // color: $primary-color;
    background-color: $white-snow;

    padding: 0.4rem 1rem;
    margin: 1rem;

    box-shadow: $shadow_s_0;

    transition: 0.2s box-shadow, 0.2s color, 0.2s background-color;
  }

  a:hover {
    box-shadow: $shadow_s;
    color: $white-snow;
    background-color: #222;
  }
}
