#landing_wrapper_outer {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  background-color: $white-snow;
  background-image: url('/res/textures/low-contrast-linen.png');

  min-width: 85rem;
}

#landing_wrapper {
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background-color: rgba($color: #fff, $alpha: 0.4);
  
  #landing_wrapper_background {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-image: url('/res/textures/vig2.png');
    background-position: center center;
    background-size: cover;
  }

  #logo_wrapper {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;

    align-items: center;
    justify-content: center;

    #logo_wrapper_inner {
      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;
    }

    #logo_caption {    
      position: relative;

      margin-bottom: -4.5rem;
      
      color: $black-raisin;
      font-family: Love Ya Like A Sister;
      font-size: 2.5rem;

      text-shadow: $shadow_0;
      
      z-index: 1;
    }

    #logo {
      position: relative;

      color: $primary-color;
  
      font-family: Impact;
      font-size: 20rem;
      font-variant: small-caps;
  
      text-align: center;
      line-height: 17rem;

      text-shadow: $shadow_s_1;

      span {
        font-size: 16rem;
      }
    }
  }

  #landing_bottom {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    justify-content: space-evenly;

    width: 100%;

    .landing_btn {
      position: relative;

      font-family: Love Ya Like A Sister;
      font-weight: 300;
      font-size: 2.8rem;

      color: $primary-color;
      background-color: $white-snow;

      padding: 0.4rem 1rem;
      margin: 1rem;

      box-shadow: $shadow_s_0;

      cursor: pointer;

      transition: 0.2s box-shadow, 0.2s color, 0.2s background-color;

      .landing_btn_background {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-image: url('/res/textures/dark-stripes-light.png');
      }

      .landing_btn_content {
        position: relative;

        transition: 0.2s text-shadow;
      }
    }

    .landing_btn:hover {
      box-shadow: $shadow_s;
      color: $white-snow-d;
      background-color: $primary-color;

      .landing_btn_content {
        text-shadow: $shadow_s_0;
      }
    }
  }
}
