html {
  font-size: 14px;
  font-family: Roboto;
}

body {  
  background-color: $white-snow;
  background-image: url('/res/textures/low-contrast-linen.png');

  min-width: 85rem;

  margin: 0;
  padding: 0;
}