* {
  margin: 0;
  padding: 0;
}

html {
  background-color: $white-snow-d;

  font-family: Roboto;
  font-size: $font-size;

  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;

  padding: 0;

  width: 100vw;
}

a {
  text-decoration: none;
}

@import 'main/wrapper';
@import 'main/header';
@import 'main/permanentheader';
@import 'main/sidemenu';
