////////////
// MIXINS //

@mixin route-transition-before($name) {
  .#{$name}-enter {
    @content;
    z-index: 1;
  }
}

@mixin route-transition-default($name, $property) {
  .#{$name}-enter.#{$name}-enter-active { // sass-lint:disable-line force-element-nesting
    @content;
    transition: $property $route-transition-time $route-transition-ease-function;
  }

  .#{$name}-exit {
    @content;
    z-index: 1;
  }
}

@mixin route-transition-after($name, $property) {
  .#{$name}-exit.#{$name}-exit-active { // sass-lint:disable-line force-element-nesting
    @content;
    transition: $property $route-transition-time $route-transition-ease-function;
  }
}

@mixin route-transition($name, $property, $before, $default, $after) {
  @include route-transition-before($name) {
    #{$property}: $before;
  }

  @include route-transition-default($name, $property) {
    #{$property}: $default;
  }

  @include route-transition-after($name, $property) {
    #{$property}: $after;
  }
}

/////////////////
// TRANSITIONS //

// @include route_transition(fade, transform, translateX(95%) scale(0.9), translateX(0) scale(1), translateX(-100%) scale(0.9));
// @include route-transition(fade, transform, translateX(100%), translateX(0), translateX(-100%));
@include route-transition(fade, opacity, 0, 1, 0);
