.r-input {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;

  background-color: #fff;

  width: $std-input-width;
  height: 4rem;

  .r-input-text {
    transition: .2s border-color;

    margin: 0 1rem;

    border-top: 0;
    border-right: 0;
    border-bottom: 2px $gray-very-light solid;
    border-left: 0;

    padding: 0 .5rem;

    width: 100%;
    height: 2.5rem;

    line-height: 2.5rem;

    color: $gray-middle;
    font-size: 1.5rem;

    box-sizing: border-box;

    &:focus {
      border-color: $tertiary-very-light;
    }

    &::placeholder {
      opacity: 1;
      color: $gray-very-light;
    }
  }

  .r-input-symbol {
    display: flex;
    position: absolute;
    right: 1rem;

    align-items: center;
    justify-content: center;

    transition: .2s color;
    cursor: pointer;

    width: 2.5rem;
    height: 2.5rem;

    color: $black-raisin;

    font-size: 1.2rem;

    &:hover {
      color: $gray-light;
    }
  }
}
