#howtoplay_wrapper {
  background-color: $black-raisin;
  background-image: url('/res/textures/low-contrast-linen.png');
  background-size: 300px;

  padding: 10rem;

  height: 100vh;

  background-blend-mode: overlay;
  box-sizing: border-box;

  #howtoplay_headline {
    opacity: .8;

    color: $white-snow;
    font-family: Love Ya Like A Sister;
    font-size: 6rem;
  }
}
