$howto-padding: 10vmin;

#howtoplay_wrapper {
  position: relative;

  background-color: $black-raisin;
  background-image: url('/res/textures/low-contrast-linen.png');
  background-size: 300px;

  padding: $howto-padding;

  height: 100vh;

  background-blend-mode: overlay;
  box-sizing: border-box;

  #howto {
    position: absolute;
    bottom: 0;
  }

  #howtoplay_headline {
    @include fp(font-size, 3rem, 6rem);

    transition: font-size .2s;

    opacity: .9;

    color: $white-snow;
    font-family: Love Ya Like A Sister;
    font-size: 6rem;
  }

  #back_to_top_link {
    display: flex;
    position: absolute;
    bottom: $howto-padding;
    left: $howto-padding;

    transition: font-size .2s, color .2s, text-shadow .2s;

    color: rgba($color: $white-snow, $alpha: .6);
    font-family: Impact;
    font-size: 3rem;

    &:hover {
      color: rgba($color: $white-snow, $alpha: .9);
    }
  }
}
