////////////////////////
// COLORS DEFINITIONS //

$primary-color: #e51725;
$primary-dark: #b50916;
$primary-light: #ef4652;

$secondary-color: #a1dd16;
$secondary-dark: #7daf09;
$secondary-light: #b6e744;

$tertiary-color: #0f9284;
$tertiary-dark: #067367;
$tertiary-light: #2d988d;
$tertiary-very-light: #4fb0a6;

$white-snow: #fffafa;
$white-snow-d: #f8f0f0;

$black-raisin: #242124;
$gray-middle: #555;

///////////////////
// OBJECT COLORS //

$main-header-button-color: #ccc;

$main-side-menu-background: $white-snow;

$big-menu-color: $tertiary-color;
$big-menu-color-light: $tertiary-light;
