// cool pink #e51725
// cool red d11f1f
// cool blue-green #17e578

$primary-color: #e51725;
$primary-dark: #b50916;
$primary-light: #ef4652;

$secondary-color: #72db62;

$white-snow: #fffafa;
$white-snow-d: #f8f0f0;

$black-raisin: #242124;
