$font-size: 14px;

$main-header-height: (100vh - (100vh / 1.62));
$main-header-height-collaped: 5rem;
$main-header-collapse-duration: 200ms;

$route-transition-ease-function: ease;

$route-transition-time-ms: 400;
$route-transition-time: #{$route-transition-time-ms}ms;

:export {
  routeTransitionTime: $route-transition-time-ms; // sass-lint:disable-line no-misspelled-properties
}
