#main_header {
  display: flex;
  position: fixed;
  align-items: flex-end;
  justify-content: space-evenly;

  transition: height .4s;

  box-shadow: $shadow-0;

  background-color: rgba($color: $black-raisin, $alpha: 1);
  background-image: url('/res/textures/dark-stripes-light.png');

  width: 100%;
  height: $main-header-height;

  background-blend-mode: color-burn;
}

.collapse-main-header {
  #main_header {
    height: $main-header-height-collaped !important;
  }
}

#main_logo_wrapper {
  display: flex;
  // position: absolute;
  // bottom: 1rem;
  // left: 20vw;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  #main_logo_logo {
    color: $white-snow-d;

    font-family: Impact;
    font-size: 6rem;
    font-variant: small-caps;

    span {
      font-size: 5rem;
    }
  }

  #main_logo_caption {
    position: relative;
    top: -.8rem;
    // top: -1.1rem;

    // $hlc-space: .4rem;
    // margin-top: $hlc-space;
    // border-top: 3px $white-snow-d dotted;

    // padding: $hlc-space 1rem 0;

    text-shadow: $shadow-s-0;
    color: $white-snow-d;

    font-family: Love Ya Like A Sister;

  }
}

#main_profile_peek {
  margin: .5rem 0;

  text-shadow: $shadow-s-0;

  color: $white-snow-d;
  font-family: Love Ya Like A Sister;
  font-size: 3rem;
}
