#main_header {
  @include media-small {
    z-index: 5;
  }

  display: flex;
  position: sticky;
  top: calc(#{-$main-header-height + ' + ' + $main-header-height-collaped});
  left: 0;

  align-items: flex-end;
  justify-content: space-evenly;

  z-index: 6;

  background-color: $black-raisin;
  background-image: $url-stripes;

  width: 100%;
  height: $main-header-height;

  background-blend-mode: color-burn;
}

.collapse-main-header {
  #main_logo_logo {
    height: $main-header-height-collaped !important;

    line-height: $main-header-height-collaped !important;
    font-size: 3rem !important;

    span {
      font-size: 2.5rem !important;
    }
  }

  #main_logo_caption {
    opacity: 0;
    margin: 0 !important;
    border-width: 0 !important;
    padding: 0 !important;
    height: 0 !important;
  }
}

#main_logo_wrapper {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: $main-header-collapse-duration margin;

  pointer-events: none;

  #main_logo_logo {
    @include fp(font-size, 4rem, 6rem);

    transition: $main-header-collapse-duration font-size, $main-header-collapse-duration line-height, $main-header-collapse-duration height;

    height: 6.4rem;

    line-height: 6rem;
    color: $white-snow-d;

    font-family: Impact;
    font-size: 6rem;
    font-variant: small-caps;

    span {
      @include fp(font-size, 3rem, 5rem);

      transition: $main-header-collapse-duration font-size;

      font-size: 5rem;
    }
  }

  #main_logo_caption {
    position: relative;
    top: -.85rem;

    $time: $main-header-collapse-duration;
    transition: $time height, $time opacity, $time padding, $time margin, $time border-width;

    $hlc-space: .4rem;
    margin-top: $hlc-space + .3rem;
    border-top: 3px $white-snow-d dotted;

    padding: $hlc-space 1rem 0;

    height: 1.8rem;

    overflow: hidden;

    color: $white-snow-d;

    font-family: Love Ya Like A Sister;

    box-sizing: border-box;
  }
}
