#main_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  transition: $main-side-menu-transition-time left, $route-transition-time opacity;

  background-color: $white-snow-d;
  background-image: $url-stripes;

  #main_content {
    position: relative;

    background-color: rgba($color: $white-snow, $alpha: .5);
    background-image: $url-stripes;

    width: 100%;

    background-blend-mode: darken;
  }

  &.open-main-side-menu {
    @include media-small {
      left: 0;
    }

    left: $main-side-menu-size;
  }

  &.pin-main-side-menu {
    @include media-small {
      left: 0;
    }

    left: $main-side-menu-size-expanded;
  }
}
