#main_wrapper {
  position: absolute;
  top: 0;
  left: 0;

  background-image: $url-stripes;

  width: 100%;

  #main_content {
    position: relative;

    background-color: rgba($color: $white-snow, $alpha: .5);
    background-image: $url-stripes;

    width: 100%;

    background-blend-mode: darken;
  }
}
